body
{
	text-align: center;

}

canvas
{

	background-color: #f1bcc9;
}

#container
{
	margin-top: 20px;
	padding: 10px;
}

.colorid
{
	padding: 10px;
	width: 10px;
	height: 5px;
	display: inline;
	margin : 20px;
}